doctype html
html(lang="en")
    head
        title my Site
        meta(DESCRIPTION="orders users")
        meta(content="width=device-width,minimum-scale=1,initial-scale=1")
        style.
            body {
                    background-color: #ccc;
                    margin: 0;
                    font-size: 16px;
                }
             .close {
                position: fixed;
                top: 0;
                z-index: 20;
                text-decoration: none;               
                background-color: red;
                text-align: center;
                height: 50px;
                width: 50px;
                box-sizing: border-box;
                color: yellow;
                font-size: 30px;
               
            }
            .close:hover {
                 background-color: #ccc;
            }   
            span {
                display: inline-block;
                width: 10%;
                padding: 10px;
                text-align: center;
                font: 400 15px/15px Arial, sans-serif;
            }
            span.number {
                width: 3%
            }
            h1 {
                position: fixed;
                top: 0;
                width: 100%;
                text-align: center;
                background-color: #fff;
                margin: 0;
                height: 50px;
               
            }
            p.main {
                width: 100%;
                position: fixed;
                top: 50px;
                background-color: lavender;
                
                margin: 0;
            }
            p.main span {
                font: 600 18px/25px Arial, sans-serif;
            }
            .orderDiv {
                margin-top: 95px;
            }

    body 
        -var date = data 
        h1 users orders          
        a.close(href="/" title="exit") &#11013;
        p.main
            span.number №
            span DATE
            span NAME
            span PHONE
            span BRAND
            span MODEL
            span GENDER
            span.number SIZE
            span COLOR
            span.number COST
        div.orderDiv    
            for i,index in date           
                p.orders
                    span.number= index
                    span= i.date
                    span= i.name
                    span= i.phone
                    span= i.brand
                    span= i.model
                    span= i.gender
                    span.number= i.size
                    span= i.color
                    span.number= i.cost  
